<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Original - Lifestyle Blog Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div id="preloader">
        <div class="preload-content">
            <div id="original-load"></div>
        </div>
    </div>

    <!-- Subscribe Modal -->
    <div class="subscribe-newsletter-area">
        <div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-labelledby="subsModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-body">
                        <h5 class="title">Subscribe to my newsletter</h5>
                        <form action="#" class="newsletterForm" method="post">
                            <input type="email" name="email" id="subscribesForm2" placeholder="Your e-mail here">
                            <button type="submit" class="btn original-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                    <div class="col-12 col-sm-8">
                        <div class="breaking-news-area">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Hello World!</a></li>
                                    <li><a href="#">Hello Universe!</a></li>
                                    <li><a href="#">Hello Original!</a></li>
                                    <li><a href="#">Hello Earth!</a></li>
                                    <li><a href="#">Hello Colorlib!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top Social Area -->
                    <div class="col-12 col-sm-4">
                        <div class="top-social-area">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <a href="index.html" class="original-logo"><img src="/static/img/core-img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
      <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar">

                        <!-- Subscribe btn -->


                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">首頁</a></li>
                                    <li><a href="map.html">查詢店家</a></li>
                                    <li><a href="community.html">社群</a></li>
                                    <li><a href="analyze.html">分析</a></li>
                                    <li><a href="consult.html">諮詢</a></li>
                                    <li><a href="login.html">會員</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
<!--                        <div class="subscribe-btn">-->
<!--                            <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal">Subscribe</a>-->
<!--                        </div>-->

                    </nav>
                </div>
            </div>
        </div>
    </header>


<div class="single-blog-wrapper section-padding-0-100">

        <!-- Single Blog Area  -->
        <div class="single-blog-area blog-style-2 mb-50">
            <div class="single-blog-thumbnail">
                <img src="/static/img/日式和果子/銅鑼燒.jpg" alt="">
                <div class="post-tag-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="post-date">
                                    <a href="#">3<span>月</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- ##### Post Content Area ##### -->
                <div class="col-12 col-lg-9">
                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" class="post-tag">日式點心</a>
                            <h4><a href="#" class="post-headline mb-0">銅鑼燒</a></h4>
                            <div class="post-meta mb-50">
                                <p>By <a href="Userintroduction.html">森林木</a></p>
                                <p>3 comments</p>
                            </div>
                            <p>哈囉~~ 大家晚安~~ ，一個月一次的日式和果子全方位介紹與推薦來了(歡呼 ，哼哼這次這個文案我可是準備了一個月之久，親自前往戰爭現場以冒死犯境的精神，從店家的店裡偷了他們的點心食譜來喔，我很厲害吧快夸夸我(眼睛發亮 ，這次我為了想介紹完整的專業製程，居然!居然!! 三xx願意讓我去看製作過程，真是太感謝了我快哭了(嗚嗚 ，而且老闆還大方的送了我50份的優惠眷來給小森們，大家還不快讚爆店家!!</p>
                            <p>哈囉~~ 大家晚安~~ ，一個月一次的日式和果子全方位介紹與推薦來了(歡呼 ，哼哼這次這個文案我可是準備了一個月之久，親自前往戰爭現場以冒死犯境的精神，從店家的店裡偷了他們的點心食譜來喔，我很厲害吧快夸夸我(眼睛發亮 ，這次我為了想介紹完整的專業製程，居然!居然!! 三xx願意讓我去看製作過程，真是太感謝了我快哭了(嗚嗚 ，而且老闆還大方的送了我50份的優惠眷來給小森們，大家還不快讚爆店家!!</p>
                            <p>哈囉~~ 大家晚安~~ ，一個月一次的日式和果子全方位介紹與推薦來了(歡呼 ，哼哼這次這個文案我可是準備了一個月之久，親自前往戰爭現場以冒死犯境的精神，從店家的店裡偷了他們的點心食譜來喔，我很厲害吧快夸夸我(眼睛發亮 ，這次我為了想介紹完整的專業製程，居然!居然!! 三xx願意讓我去看製作過程，真是太感謝了我快哭了(嗚嗚 ，而且老闆還大方的送了我50份的優惠眷來給小森們，大家還不快讚爆店家!!</p>
                        </div>
                    </div>

                    <!-- About Author -->
                    <div class="blog-post-author mt-100 d-flex">
                        <div class="author-thumbnail">
                            <img src="/static/img/使用者頭像/3.jpg" alt="">
                        </div>
                        <div class="author-info">
                            <div class="line"></div>
                            <span class="author-role">作者</span>
                            <h4><a href="#" class="author-name">森林木</a></h4>
                            <p>來自網路的日式美食、點心的狂熱粉絲</p>
                        </div>
                    </div>

                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix mt-70">
                        <h5 class="title">留言</h5>

                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="/static/img/使用者頭像/1.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">3 月</a>
                                        <p><a href="#" class="post-author">forest森森</a></p>
                                        <p>Efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                                        <a href="#" class="comment-reply">Reply</a>
                                    </div>
                                </div>
                                <ol class="children">
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="/static/img/使用者頭像/1.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-date">4 月</a>
                                                <p><a href="#" class="post-author">forest森森</a></p>
                                                <p>Efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                                                <a href="#" class="comment-reply">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li>

                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="/static/img/使用者頭像/2.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">4 月</a>
                                        <p><a href="#" class="post-author">forest機器人</a></p>
                                        <p>Efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt.</p>
                                        <a href="#" class="comment-reply">Reply</a>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- ##### Sidebar Area ##### -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="post-sidebar-area">

                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <form action="#" class="search-form">
                                <input type="search" name="search" id="searchForm" placeholder="Search">
                                <input type="submit" value="submit">
                            </form>
                        </div>

                        <!-- Widget Area -->
<!--                        <div class="sidebar-widget-area">-->
<!--                            <h5 class="title subscribe-title">Subscribe to my newsletter</h5>-->
<!--                            <div class="widget-content">-->
<!--                                <form action="#" class="newsletterForm">-->
<!--                                    <input type="email" name="email" id="subscribesForm" placeholder="Your e-mail here">-->
<!--                                    <button type="submit" class="btn original-btn">Subscribe</button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- Widget Area -->
<!--                        <div class="sidebar-widget-area">-->
<!--                            <h5 class="title">Advertisement</h5>-->
<!--                            <a href="#"><img src="/static/img/bg-img/add.gif" alt=""></a>-->
<!--                        </div>-->

                        <!-- Widget Area -->
<!--                        <div class="sidebar-widget-area">-->
<!--                            <h5 class="title">Latest Posts</h5>-->

<!--                            <div class="widget-content">-->

                                <!-- Single Blog Post -->
<!--                                <div class="single-blog-post d-flex align-items-center widget-post">-->
<!--                                    &lt;!&ndash; Post Thumbnail &ndash;&gt;-->
<!--                                    <div class="post-thumbnail">-->
<!--                                        <img src="/static/img/blog-img/lp1.jpg" alt="">-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Post Content &ndash;&gt;-->
<!--                                    <div class="post-content">-->
<!--                                        <a href="#" class="post-tag">Lifestyle</a>-->
<!--                                        <h4><a href="#" class="post-headline">Party people in the house</a></h4>-->
<!--                                        <div class="post-meta">-->
<!--                                            <p><a href="#">12 March</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <!-- Single Blog Post -->
<!--                                <div class="single-blog-post d-flex align-items-center widget-post">-->
<!--                                    &lt;!&ndash; Post Thumbnail &ndash;&gt;-->
<!--                                    <div class="post-thumbnail">-->
<!--                                        <img src="/static/img/blog-img/lp2.jpg" alt="">-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Post Content &ndash;&gt;-->
<!--                                    <div class="post-content">-->
<!--                                        <a href="#" class="post-tag">Lifestyle</a>-->
<!--                                        <h4><a href="#" class="post-headline">A sunday in the park</a></h4>-->
<!--                                        <div class="post-meta">-->
<!--                                            <p><a href="#">12 March</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <!-- Single Blog Post -->
<!--                                <div class="single-blog-post d-flex align-items-center widget-post">-->
<!--                                    &lt;!&ndash; Post Thumbnail &ndash;&gt;-->
<!--                                    <div class="post-thumbnail">-->
<!--                                        <img src="/static/img/blog-img/lp3.jpg" alt="">-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Post Content &ndash;&gt;-->
<!--                                    <div class="post-content">-->
<!--                                        <a href="#" class="post-tag">Lifestyle</a>-->
<!--                                        <h4><a href="#" class="post-headline">Party people in the house</a></h4>-->
<!--                                        <div class="post-meta">-->
<!--                                            <p><a href="#">12 March</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <!-- Single Blog Post -->
<!--                                <div class="single-blog-post d-flex align-items-center widget-post">-->
<!--                                    &lt;!&ndash; Post Thumbnail &ndash;&gt;-->
<!--                                    <div class="post-thumbnail">-->
<!--                                        <img src="/static/img/blog-img/lp4.jpg" alt="">-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Post Content &ndash;&gt;-->
<!--                                    <div class="post-content">-->
<!--                                        <a href="#" class="post-tag">Lifestyle</a>-->
<!--                                        <h4><a href="#" class="post-headline">A sunday in the park</a></h4>-->
<!--                                        <div class="post-meta">-->
<!--                                            <p><a href="#">12 March</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">標籤</h5>
                            <div class="widget-content">
                                <ul class="tags">
                                    <li><a href="#">日式料理</a></li>
                                    <li><a href="#">日式點心</a></li>
                                    <li><a href="#">水餃、鍋貼</a></li>
                                    <li><a href="#">小火鍋</a></li>
                                    <li><a href="#">你餓了嗎</a></li>
                                    <li><a href="#">燒臘便當</a></li>
                                    <li><a href="#">北京烤鴨</a></li>
                                    <li><a href="#">以代以代</a></li>
                                    <li><a href="#">高檔餐廳</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Footer Nav Area -->
                    <div class="classy-nav-container breakpoint-off">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-center">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="index.html">首頁</a></li>
                                        <li><a href="map.html">查詢店家</a></li>
                                        <li><a href="community.html">社群</a></li>
                                        <li><a href="analyze.html">分析</a></li>
                                        <li><a href="consult.html">諮詢</a></li>
                                        <li><a href="login.html">會員</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>

                    <!-- Footer Social Area -->
                    <div class="footer-social-area mt-30">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

   <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </footer>

<script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/static/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
</body>
</html>