<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Original - Lifestyle Blog Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="original-load"></div>
        </div>
    </div>

    <!-- Subscribe Modal -->
    <div class="subscribe-newsletter-area">
        <div class="modal fade" id="subsModal" tabindex="-1" role="dialog" aria-labelledby="subsModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-body">
                        <h5 class="title">Subscribe to my newsletter</h5>
                        <form action="#" class="newsletterForm" method="post">
                            <input type="email" name="email" id="subscribesForm2" placeholder="Your e-mail here">
                            <button type="submit" class="btn original-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                    <div class="col-12 col-sm-8">
                        <div class="breaking-news-area">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Hello World!</a></li>
                                    <li><a href="#">Hello Universe!</a></li>
                                    <li><a href="#">Hello Original!</a></li>
                                    <li><a href="#">Hello Earth!</a></li>
                                    <li><a href="#">Hello Colorlib!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top Social Area -->
                    <div class="col-12 col-sm-4">
                        <div class="top-social-area">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-200">
                <div class="row h-200 align-items-center">
                    <div class="col-12">
                        <a href="index.html" class="original-logo"><img src="/static/img/blog-img/r1.jpg" width="200" height="200" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar">

                        <!-- Subscribe btn -->


                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">首頁</a></li>
                                    <li><a href="map.html">查詢店家</a></li>
                                    <li><a href="community.html">社群</a></li>
                                    <li><a href="analyze.html">分析</a></li>
                                    <li><a href="consult.html">諮詢</a></li>
                                    <li><a href="login.html">會員</a></li>
                                </ul>
                            </div>

                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav End -->
                        </div>
<!--                        <div class="subscribe-btn">-->
<!--                            <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal">Subscribe</a>-->
<!--                        </div>-->

                    </nav>
                </div>
            </div>
        </div>
    </header>


    <!-- ##### Header Area End ##### -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-12 col-md-10 col-lg-9">
                    <div class="contact-form">
                        <h5>新增店家資訊</h5>
                        <!-- Contact Form -->
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="text" name="name" id="name" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>店家名稱</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="email" name="email" id="email" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>聯絡信箱</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="phone" name="phone" id="phoen" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>連絡電話</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="address" name="address" id="address" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>地址</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="business" name="business" id="business" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>營業時間</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="group">
                                        <textarea name="message" id="message" required></textarea>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>店家簡介</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn original-btn">確定新增店家</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
		</div>
	</div>
</div>
    <!-- ##### Hero Area Start ##### -->

    <!-- ##### Instagram Feed Area Start ##### -->
<!--    <div class="instagram-feed-area">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <div class="insta-title">-->
<!--                        <h5>Follow us @ Instagram</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Instagram Slides &ndash;&gt;-->
<!--        <div class="instagram-slides owl-carousel">-->
<!--            &lt;!&ndash; Single Insta Feed &ndash;&gt;-->
<!--            <div class="single-insta-feed">-->
<!--                <img src="/static/img/instagram-img/1.png" alt="">-->
<!--                &lt;!&ndash; Hover Effects &ndash;&gt;-->
<!--                <div class="hover-effects">-->
<!--                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Insta Feed &ndash;&gt;-->
<!--            <div class="single-insta-feed">-->
<!--                <img src="/static/img/instagram-img/2.png" alt="">-->
<!--                &lt;!&ndash; Hover Effects &ndash;&gt;-->
<!--                <div class="hover-effects">-->
<!--                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Insta Feed &ndash;&gt;-->
<!--            <div class="single-insta-feed">-->
<!--                <img src="/static/img/instagram-img/3.png" alt="">-->
<!--                &lt;!&ndash; Hover Effects &ndash;&gt;-->
<!--                <div class="hover-effects">-->
<!--                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Insta Feed &ndash;&gt;-->
<!--            <div class="single-insta-feed">-->
<!--                <img src="/static/img/instagram-img/4.png" alt="">-->
<!--                &lt;!&ndash; Hover Effects &ndash;&gt;-->
<!--                <div class="hover-effects">-->
<!--                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Insta Feed &ndash;&gt;-->
<!--            <div class="single-insta-feed">-->
<!--                <img src="/static/img/instagram-img/5.png" alt="">-->
<!--                &lt;!&ndash; Hover Effects &ndash;&gt;-->
<!--                <div class="hover-effects">-->
<!--                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Insta Feed &ndash;&gt;-->
<!--            <div class="single-insta-feed">-->
<!--                <img src="/static/img/instagram-img/6.png" alt="">-->
<!--                &lt;!&ndash; Hover Effects &ndash;&gt;-->
<!--                <div class="hover-effects">-->
<!--                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Insta Feed &ndash;&gt;-->
<!--            <div class="single-insta-feed">-->
<!--                <img src="/static/img/instagram-img/7.png" alt="">-->
<!--                &lt;!&ndash; Hover Effects &ndash;&gt;-->
<!--                <div class="hover-effects">-->
<!--                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- ##### Instagram Feed Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Footer Nav Area -->
                    <div class="classy-nav-container breakpoint-off">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-center">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="index.html">首頁</a></li>
                                        <li><a href="map.html">查詢店家</a></li>
                                        <li><a href="community.html">社群</a></li>
                                        <li><a href="analyze.html">分析</a></li>
                                        <li><a href="consult.html">諮詢</a></li>
                                        <li><a href="login.html">會員</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>

                    <!-- Footer Social Area -->
                    <div class="footer-social-area mt-30">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

   <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/static/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>

</body>

</html>